@import "./_Variables.scss";

// IMPORT FONTS
@font-face {
  font-family: "faFont";
  src: url(../Assets/Fonts/Gandom.ttf);
}

@font-face {
  font-family: "enFont";
  src: url(../Assets/Fonts/Poppins.ttf);
}

@font-face {
  font-family: "enTitleFont";
  src: url(../Assets/Fonts/Lobster-Regular.ttf);
}
// RESET STYLES
* {
  list-style: none;
  text-decoration: none;
  outline: 0;
  direction: rtl;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "faFont", "enFont";
  background: $backgroundColor;
  color: $primaryColor;
}

// MEDIA QUERIES
@media (min-width: 576px) {
  .navbar-Wrapper {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar-Wrapper {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar-Wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar-Wrapper {
    max-width: 1310px;
  }
}
