.contact__container,
.blog__container,
.portfolio__container {
  padding: 4em 0;
  border-top: 1px solid #dce1e4;
}

.about-me__wrapper,
.blog__wrapper,
.my-skills__wrapper,
.portfolio__wrapper,
.resume__wrapper,
.contact__wrapper {
  width: 100%;
  padding: 1.2em;
}

.portfolio-card__wrapper,
.blog-card__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1.2em;
}

@media (min-width: 375px) {
  .portfolio-card__wrapper,
  .blog-card__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (min-width: 576px) {
  .about-me__wrapper,
  .blog__wrapper,
  .my-skills__wrapper,
  .portfolio__wrapper,
  .resume__wrapper,
  .contact__wrapper {
    width: 100%;
    padding: 0;
  }
  .portfolio-card__wrapper,
  .blog-card__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }
}

@media (min-width: 992px) {
  .portfolio-card__wrapper,
  .blog-card__wrapper {
    grid-gap: 2.4em;
  }
}

@media (min-width: 1200px) {
  .portfolio-card__wrapper,
  .blog-card__wrapper {
    grid-gap: 1.8em;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .about-me__wrapper,
  .blog__wrapper,
  .my-skills__wrapper,
  .portfolio__wrapper,
  .resume__wrapper,
  .contact__wrapper {
    padding: 0 1.2em;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .about-me__wrapper,
  .blog__wrapper,
  .my-skills__wrapper,
  .portfolio__wrapper,
  .resume__wrapper,
  .contact__wrapper {
    padding: 0 1.2em;
  }
}
