@import "../../../Sass/Variables";

.navbar-Wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0;
}

// NAVBAR NAV
.navbar-list {
  width: 100%;
  padding: 1em;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #dce1e4;
}

.nav-item {
  padding: 0.6em 0;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1e2125;
}
